.wrapper{
  height:100%;
}
.main-container {
  height: 100%;
  background-color: var(--primary-color);
}

header{
  line-height: 60px; 
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding:0px 30px;

}
.nav-bar h1{
  color:var(--primary-color);
}
.nav-bar select{
  background-color: var(--primary-color);
}
.nav-bar .clr{
  position:relative;
}
.nav-bar ul{
  background-color: var(--secondary-color);
  left: -100%;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid var(--primary-color);
  position: absolute;
}
.nav-bar li.blue{
  background-color: var(--clr-1);
  color: var(--clr-2);
}
.nav-bar li.red{
  background-color: var(--clr-3);
  color: var(--clr-4);
}

.nav-bar li.green{
  background-color: var(--clr-5);
  color: var(--clr-6);
}
.nav-bar li.violet{
  background-color: var(--clr-7);
  color: var(--clr-8);
}
.nav-bar li:hover{
 transform: scale(1.5);
 color:currentColor;

}
.clr {
  color: var(--primary-color);
  width:15px;
  height:15px;
}
ul{
  list-style: none;
  display: grid;
  grid-gap: 5px;
  width: fit-content;
  margin: 0px 5px;
  grid-template-columns: 1fr 1fr;
  position: absolute;
}
ul li{
  width: 20px;
  height: 20px;
  background-color: deeppink;
  border-radius: 5px;
  cursor: pointer;
}
main{
  color: var(--secondary-color);
  padding:5%

}

.form-wrapper {
  display: flex;
  height: 100%;
}

.login-form {
  padding: 30px;
  width: 300px;
  margin: auto;
  max-width: 350px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 8px;
}

form h2 {
  margin-bottom: 8px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form-group label {
  margin-bottom: 2px;
  font-weight: 500;
}
.form-group input {
  height: 25px;
  line-height: 25px;
  padding: 0px 5px;
}

.main{
  color:var(--primary-color);
}

button {
  height: 30px;
  padding: 5px 10px;
  box-shadow: none;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 8%;
  color: var(--secondary-color);
  cursor: pointer;
}
button.secondary{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
button:disabled{
  opacity: 0.5;
}
.link {
  color: blue;
  text-decoration: underline;
}

.spin-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  border-top: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 15px;
  color: var(--secondary-color);
  top: 10%;
}
.m-auto {
  margin: auto;
}
.mx-15{
  margin:0px 15px;
}
.mx-5{
  margin:0px 5px;
}
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}

.pos-rel{
  position: relative;
}

.err-msg{
  color:red;
}